<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>


<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Jianzhu Guo（郭建珠）
              </h1>
              <p>
                  I graduated from <a href="http://www.seu.edu.cn/">Southeast University</a> with B.S. in GIS (Geographical Information System).
                  Now, I am a Ph.D. student at <a href="http://www.nlpr.ia.ac.cn/nlpren/EN/volumn/home.shtml">National Laboratory of Pattern Recognition</a>, <a href="http://english.cas.cn/">Chinese Academy of Sciences</a>, supervised by Prof. <a href="http://www.cbsr.ia.ac.cn/users/zlei/">Zhen Lei</a> and Prof. <a href="http://www.cbsr.ia.ac.cn/users/szli/">Stan Z. Li</a>, where I mainly research on face-related fields, including <strong>face recognition</strong>, <strong>3D face</strong>, <strong>face anti-spoofing</strong>, <strong>face analysis</strong> and <strong>meta learning</strong>, <strong>deep learning</strong>.
                  <br>
              </p>
              <p style="text-align:center">
                <!-- Email: <i><u>jianzhu.guo@nlpr.ia.ac.cn</u></i> &nbsp; or &nbsp; <u><i>guojianzhu1994@foxmail.com</u></i> -->
                Email: &nbsp; <a target="_blank" href="mailto:jianzhu.guo@nlpr.ia.ac.cn"> jianzhu.guo@nlpr.ia.ac.cn</a> &nbsp; or &nbsp; <a target="_blank" href="mailto:guojianzhu1994@foxmail.com"> guojianzhu1994@foxmail.com</a>
              </p>
              <p style="text-align:center">
                <!-- <a target="_blank" href="mailto:jianzhu.guo@nlpr.ia.ac.cn"> Email</a> &nbsp;/&nbsp; -->
                <a href="https://github.com/cleardusk">GitHub</a> &nbsp;/&nbsp;
                <!-- <img src="https://img.shields.io/github/followers/cleardusk?label=Followers&style=flat" alt="GitHub stars" title=""> -->
                <a href="assets/files/resume_zh.pdf">CV</a> &nbsp;/&nbsp;
                <a href="assets/files/resume_en.pdf">CV_EN</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=W8_JzNcAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="assets/imgs/qrcode_me_2.png"> WeChat </a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/guojianzhu"> LinkedIn </a>
              </p>
              <!-- <p><strong><I><a href="https://guojianzhu.com/assets/files/resume_zh.pdf">Looking for an internship or a job.</a></I></strong></p> -->
              <!-- <img style="width:50%;max-width:50%" alt="profile photo" src="assets/imgs/qrcode_me_2.png"> -->
            </td>
            <td style="padding:2.5%;width:32%;max-width:32%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="assets/me_v22.png">
            </td>
          </tr>
        </table>

        <hr/>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2><b>Publications</b></h2>
              <!-- <h2><a id="user-content-introduction" class="anchor" aria-hidden="true" href="#introduction"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a><b>Publications</b></h2> -->
              <!-- <p>
                My research mainly concentrated on face related fields.
              </p> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2><b>Under Review</b></h2>
              <!-- <p>
                Besides my work on the RealSense depth sensors and the publications above, a sampling of my publicly disclosed work
              </p> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'review' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2><b>Competitions</b></h2>
              <!-- <p>
                Besides my work on the RealSense depth sensors and the publications above, a sampling of my publicly disclosed work
              </p> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'comp' %}
          <!-- <tr> -->
            <!-- <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px"> -->
              <!-- <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /> -->
            <!-- </td> -->
            <td style="padding:0%;width:75%;vertical-align:middle">
              <!-- <h3>{{post.title}}</h3> -->
              <!-- <br> -->
              <!-- <em>{{post.categories}}</em> -->
              <!-- <br> -->
              <!-- {{ post.date | date: "%Y-%m-%d" }} -->
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              
              {{ post.excerpt }}
              <!-- <ul> -->
                <!-- <li>  {{ post.excerpt }}   </li> -->
              <!-- </ul> -->
            </td>
          <!-- </tr> -->
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2><b>Projects (Public)</b></h2>
              <!-- <p> 
                These include coursework, side projects and unpublished research work. 
              </p> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'project' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <!-- <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br> -->
              <!-- {{ post.date | date: "%Y-%m-%d" }} -->

              <!-- <br> -->
              <!-- {% if post.website %} -->
              <!-- <a href="{{post.website}}">website</a> / -->
              <!-- {% endif %} -->
              <!-- <p></p> -->
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <!-- <hr/> -->
        <br/><br/><br/>
        <!-- 联系方式 -->
        <table style="width:60%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
              <h2><b>Contact (WeChat QR Code)</b></h2>
              <td style="padding:0px">
              <!-- <br/> -->
                  <p style="text-align:center;font-size:middle;">
                      <img style="width:70%;max-width:70%" alt="profile photo" src="assets/imgs/qrcode_me_2.png">
                  </p>
              </td>
          </tr>
        </table>
        
        <br/>
        <hr/>
        <!-- 访问数据统计 -->
        <table style="width:40%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
              <td style="padding:0px">
              <br/>
                  <p style="text-align:center;font-size:small;">
              <!-- <a href="https://clustrmaps.com/site/1b13j"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=5u0TrTNx9FyZH6ZczDdsayYbk078rojb25piIC7y7KI&cl=ffffff" /></a> -->
              <!-- <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=5u0TrTNx9FyZH6ZczDdsayYbk078rojb25piIC7y7KI&cl=ffffff&w=a"></script> -->
              <script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=5u0TrTNx9FyZH6ZczDdsayYbk078rojb25piIC7y7KI"></script>
                  </p>
              </td>
          </tr>
        </table>

        <!-- 来源 -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:0px">
                <br>
                <p style="text-align:right;font-size:small;">
                  <a style="font-size:small;" href="https://jonbarron.info">Wow, this guy's website is awesome</a>
                </p>
              </td>
            </tr>
          </table>

      </td>
    </tr>
  </table>
</body>

</html>

